.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.error h1 {
  color: #ee5626;
  font-family: "poppins bold";
}

.tryAgain {
  font-family: poppins;
}
