.headerContainer {
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #f9f4ec;
  box-shadow: 10px 10px 60px #d4cfc9ff, -10px -10px 50px #ffffff;
  z-index: 1000;
}
.header {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  padding: 1vw 2vw;
}

.userInteractions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.loginButton {
  padding: 0.5rem 1rem;
  border: 1px solid #ee5626;
  border-radius: 50px;
  font-family: poppins;
  cursor: pointer;
  background-color: #ee562600;
  font-size: 1.25rem;
  transition: all 0.1s ease-in;
}

.loginButton:hover {
  background-color: #ee5626ff;
  color: #f9f4ec;
}
