.fullscreenContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #ee562644;
  background-color: #f9f4ec44;
  background-color: #201f1f44;
}

.innerContainer {
  min-width: 30vw;
  cursor: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;

  background-color: #f9f4ec;
  border-radius: 50px;
  box-shadow: 20px 20px 60px #d4cfc9;
}

.innerContainer h2 {
  font-family: "poppins bold";
}
